<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.ovs.dao.persistence.ContentsDao">

	<resultMap id="BaseResultMap" type="stu.ovs.dao.entity.Contents">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="contents_type" property="contentsType" jdbcType="VARCHAR" />
        <result column="is_top" property="isTop" jdbcType="TINYINT" />
        <result column="top_id" property="topId" jdbcType="BIGINT" />
	</resultMap>

    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM contents c WHERE c.id = #{id}
    </select>

    <!--<select id="findByPagination" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM contents
    </select>-->

    <!--<select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM contents
    </select>-->

    <select id="findByContentsType" parameterType="string" resultMap="BaseResultMap">
        SELECT * FROM contents c WHERE c.contents_type = #{type}
    </select>

    <select id="findWithCourses" parameterType="int" resultMap="BaseResultMap">
        SELECT c.* FROM contents c RIGHT JOIN courses ci ON ci.contents_id = c.id WHERE ci.id = #{id}
    </select>

    <select id="findByCourses" resultMap="BaseResultMap">
        SELECT c.* FROM contents c LEFT JOIN ( SELECT cs.* FROM contents cs
        RIGHT JOIN ( SELECT ci.* FROM courses_index ci
	      WHERE ci.courses_id = 1 ) cix ON cix.contents_id = cs.id) csc ON csc.top_id = c.top_id OR c.id = csc.top_id
	       WHERE c.contents_type = 'courses_contents';
    </select>

    <select id="findByTopId" resultMap="BaseResultMap">
        SELECT c.* FROM contents c WHERE c.top_id = #{id} OR c.id = #{id} AND c.contents_type = #{type}
    </select>

    <select id="findByParentId" resultMap="BaseResultMap">
        SELECT c.* FROM contents c WHERE c.parent_id = #{id} AND c.contents_type = #{type}
    </select>

    <insert id="save" parameterType="stu.ovs.dao.entity.Contents" useGeneratedKeys="true" keyProperty="id">
        <choose>
            <when test="topId != null">
                INSERT INTO contents(name, description, parent_id, path, contents_type, top_id, is_top)
                VALUE (#{name}, #{description}, #{parentId}, #{path}, #{contentsType}, #{topId}, #{isTop})
            </when>
            <otherwise>
                INSERT INTO contents(name, description, parent_id, path, contents_type)
                VALUE (#{name}, #{description}, #{parentId}, #{path}, #{contentsType})
            </otherwise>
        </choose>
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM contents u WHERE u.id = #{id}
    </delete>

    <update id="update" parameterType="stu.ovs.dao.entity.Contents">
        UPDATE contents SET name = #{name}, description = #{description}, parent_d = #{parentId}, path = #{path}
    </update>

</mapper>
